<div class="card">
  <p-menubar [model]="items" />
</div>
<div class="container">
   <div class="header">
  <img src="assets/logo.png" alt="Logo" class="logo" />
  <h1><strong>FORMITO</strong></h1>
  <p>Welcome to the Formito Application</p>
  </div>
  <div class="right-side">
    <p id="description"> With Formito, take control of your time, unlock new skills,
       and share your knowledge with the world. Learn, teach,
       and grow—all with the support of a smart assistant that keeps
       you moving forward.
    </p>
    <div class="Explore">
     <a routerLink="/home"> Explore our Application</a>
     <span class="pi pi-angle-down"></span>
    </div>
  </div>


</div>
